.category-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    gap: 20px;
}
.category-menu ul { 
    display: flex; 
    list-style: none; 
    gap: 25px; 
    padding: 0;
}
.old-price { text-decoration: line-through; color: #888; margin-right: 5px; font-weight: normal; }
